header {
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

header nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  color: white;
}

header nav .navbar-brand {
  color: white;
}

header nav .navbar-brand img {
  filter: invert(1);
}

header nav .navbar-nav {
  margin-left: auto;
}

header nav .navbar-nav .nav-item {
  padding: 0.5rem 1rem;
  border: 1px solid white;
}

header nav .navbar-nav .nav-item a {
  color: white;
}

header nav .navbar-nav .nav-item.active {
  background-color: white;
  border: 1px solid var(--primary-color);
}

header nav .navbar-nav .nav-item.active a {
  color: var(--primary-color);
}

header nav .navbar-brand:hover {
  color: white !important;
}