/* Additional styles for .custom-title class */
.custom-title {
  font-family: var(--font-family-roboto);
  font-style: italic;
  font-weight: var(--font-weight-bold);
}

/* Additional styles for .navbar-toggler class */
.navbar-toggler {
  border-color: white;
  filter: brightness(0) invert(1);
}
