.bounce {
  animation: bounce 1s;
}

@media (max-width: 767px) {
  .members-section .members-row-1 .member-card,
  .members-section .members-row-2 .member-card,
  .members-section .members-row-3 .member-card {
      flex: 0 0 100%;
      max-width: 80%;
  }
}