<footer class="text-center custom-gradient">
    <div class="contact-info row max-w-full pt-8">
        <div class="col-md-4 col-sm-12 mb-5 hover:brightness-80"><i class="fa-solid fa-envelope"></i> lgallardose@tennisll.com</div>
        <div class="col-md-4 col-sm-12 mb-5 hover:brightness-80"><i class="fa-solid fa-phone"></i> +34 123 456 789</div>
        <div class="col-md-4 col-sm-12 mb-5 hover:brightness-80"><i class="fa-solid fa-compass"></i> Calle Martínez Palomares,15</div>
    </div>

    <hr class="separator row w-1/2 mx-auto mb-8 border-2 border-white">

    <div class="row">
        <div class="logo col-md-4 col-sm-12 custom-title mb-5 hover:brightness-80">
            <img src="/src/assets/images/tenis_logo.svg" alt="TenisLL" width="50" height="42" class="text-white filter invert">
            <span>Tennis Legends League</span>
        </div>

        <div class="pages col-md-4 col-sm-12 mb-5">
            <a href="/src/index.html" class="mx-4 text-white no-underline hover:underline">Home</a>
            <a href="/src/members.html" class="mx-4 text-white no-underline hover:underline">Members</a>
            <a href="/src/blog.html" class="mx-4 text-white no-underline hover:underline">Blog</a>
            <a href="/src/contact.html" class="mx-4 text-white no-underline hover:underline">Join Us</a>
        </div>

        <div class="social col-md-4 col-sm-12 mb-5">
            <i class="fa-brands fa-google mx-2 text-white"></i>
            <i class="fa-brands fa-facebook-f mx-2 text-white"></i>
            <i class="fa-brands fa-x-twitter mx-2 text-white"></i>
        </div>
    </div>
</footer>
