<header class="custom-gradient">
    <nav class="flex justify-between items-center">
      <a class="custom-title text-white flex items-center p-5 m-5 text-lg" href="/src/index.html">
        <img src="/src/assets/images/tenis_logo.svg" alt="TenisLL" width="30" height="24" class="invert">
        Tennis Legends League
      </a>
      <i class="fa-solid fa-bars text-xl m-3 p-3 text-white"></i>
  
      <div id="navbarMenu" class="hidden md:block m-5">
        <ul class="flex ml-auto space-x-4">
            <li class="border-2 border-white p-3">
                <a class="text-white hover:text-gray-400" href="members.html">Members</a>
            </li>
            <li class="border-2 border-white p-3">
                <a class="text-white hover:text-gray-400" href="blog.html">Blog</a>
            </li>
            <li class="border-2 border-white p-3">
                <a class="text-white hover:text-gray-400" href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
    </nav>
</header>