/* Gradient effect */
.custom-gradient {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

/* Effect and style for borders */
.border-effect {
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  border: 2px solid var(--color);
}